<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top" style="margin-bottom:10%;">
        <a class="navbar-brand" href="#">Health School</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item no-underline"@(ViewBag.Title == "Home Page" ? "active" : "")>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item no-underline@(ViewBag.Title == "Auth" ? "active" : "")">
                    @Html.ActionLink("Login/Register", "Index", "Auth")
                </li>
                <li class="nav-item no-underline@(ViewBag.Title == "AdminLogin" ? "active" : "")">
                    @Html.ActionLink("Admin", "AdminLogin", "Admin")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Final Project - CPAN</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
